{{log 'monster-parts-tab' this}}
<section class='tab monster-parts' data-tab='monster-parts'>
	<fieldset class='refinement'>
		<legend class='refinement-title'>Refinement</legend>
		<div class='monster-parts-column-left'>
			<div class='monster-parts-data'>
				<a class='data-group'>
					<div class='data-group-label'>Current Value:</div>
					<div
						class='data-group-value'
					>{{itemSheet.object.system.price.value.gp}}gp</div>
				</a>
			</div>
			<div class='value-controls'>
				<label class='gold-value-label' for='gold-value-input'>Add Parts:</label>
				<input
					class='gold-value-input'
					type='number'
					name='gold-value-input'
					id='gold-value-input'
					data-tooltip='Enter value to invest'
					value=''
					placeholder='0 gp'
					min='0'
					step='1'
					data-actor-id='{{actorID}}'
					data-imbuement-id='{{id}}'
					data-item-id='{{itemID}}'
				/>
				<button
					class='add-gold-button'
					data-action='refine-add-gold'
					data-tooltip='Add Value'
					data-actor-id='{{actorID}}'
					data-imbuement-id='{{id}}'
					data-item-id='{{itemID}}'
				><i class='fa-solid fa-plus'></i></button>
				<button
					class='subtract-gold-button'
					data-action='refine-subtract-gold'
					data-tooltip='Subtract Value'
					data-actor-id='{{actorID}}'
					data-imbuement-id='{{id}}'
					data-item-id='{{itemID}}'
				><i class='fa-solid fa-minus'></i></button>
			</div>
		</div>
		<div class='monster-parts-column'>
		</div>
	</fieldset>
	{{#each imbuements}}
		<fieldset class='imbuement'>
			<legend class='imbuement-title'>{{name}}</legend>
			<div class='monster-parts-column-left'>
				<div class='monster-parts-data'>
					<a class='data-group'>
						<div class='data-group-label'>Current Value:</div>
						<div class='data-group-value'>{{imbuedValue}}
							gp</div>
					</a>
				</div>
				<div class='value-controls'>
					<label
						class='gold-value-label'
						for='gold-value-input-{{this.property}}'
					>Add Parts:</label>
					<input
						class='gold-value-input'
						type='number'
						name='gold-value-input-{{this.property}}'
						id='gold-value-input-{{this.property}}'
						data-tooltip='Enter value to invest'
						value=''
						placeholder='0 gp'
						min='0'
						step='1'
						data-actor-id='{{actorID}}'
						data-imbuement-id='{{id}}'
						data-item-id='{{itemID}}'
					/>
					<button
						class='add-gold-button'
						data-action='imbue-add-gold'
						data-tooltip='Add Value'
						data-actor-id='{{actorID}}'
						data-imbuement-id='{{id}}'
						data-item-id='{{itemID}}'
					><i class='fa-solid fa-plus'></i></button>
					<button
						class='subtract-gold-button'
						data-action='imbue-subtract-gold'
						data-tooltip='Subtract Value'
						data-actor-id='{{actorID}}'
						data-imbuement-id='{{id}}'
						data-item-id='{{itemID}}'
					><i class='fa-solid fa-minus'></i></button>
				</div>
			</div>
			<div class='monster-parts-column-right'>
				<div class='monster-parts-data'>
					{{#if ../isWeapon}}
						<div class='data-group'>
							<label for='monster-parts-property'>Property:</label>
							<select name='monster-parts-property' id='monster-parts-property'>
								<option value=''></option>
								{{#each ../imbuementData.weapon.properties}}
									<option value='{{@key}}'>{{name}}</option>
								{{/each}}
							</select>
						</div>
						<div class="data-group">
							<label for="monster-parts-path">Path:</label>
							<select name="monster-parts-path" id="monster-parts-path">
								<option value=""></option>
								{{#each ../imbuementData.weapon.paths}}
									<option value="{{@key}}">{{this}}</option>
								{{/each}}
							</select>
						</div>
					{{/if}}
					{{#unless ../isWeapon}}
						<div class='data-group'>
							<label for='monster-parts-property'>Property:</label>
							<select name='monster-parts-property' id='monster-parts-property'>
								<option value=''></option>
								{{log (lookup ../imbuementData ../itemSheet.object.type)}}
								{{#each (lookup ../imbuementData ../itemSheet.object.type)}}
									<option value="{{@key}}">{{name}}</option>
								{{/each}}
							</select>
						</div>
					{{/unless}}
				</div>
			</div>
		</fieldset>
	{{/each}}
</section>